body{
  background-color: gray;
}
h3{
  text-align: center;
  color: white;
  font-size: 30px;
}
a{
  display:inline;
  margin: 12px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-right: 50px;

}
a:hover{
  cursor: pointer;
  text-decoration: underline;
}
.house-picture{
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
.img-fluid{
  max-width: 60%;
 
}